h1{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3F7FA !important;
    color: #4A4A4A;
    font-family: 'Open Sans', sans-serif;
}
.app{
    width: 60%;
    margin: 0 auto;
}
.logo{
    display: block;
    margin: 40px auto 10px;
}
.app-wrapper{
    display: flex;
}

.error-div{
    background-color: white;
    font-size: 24px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
