.show-more-btn{
    background-color: #2196F3;
    border: none;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
}